@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.left-links {
  display: flex;
  gap: 12px;
}

.right-links {
  display: flex;
  gap: 12px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

}

.footer {
 display: flex;
 justify-content: space-between;
 background-color: #eee;
 padding: 6px
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 12px;

}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  font-size: 0.9em;
  margin: 0;
  padding: 8px;
}

a {
  text-decoration: none;
  color: gray;
}
