/* Add CSS Styling */
.one,
.two{
    font-size: 32px;
    font-family: Helventica, "Times New Roman", sans-serif;
}

.one{
    background-color: black;
    color: white;
}

.two{
    background-color: yellow;
}